<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    form,
    h1 {
        text-align: center;
    }

    label,
    input {
        margin: 15px;
    }

    .button {
        padding: 20px;
    }
</style>

<body>
    <h1>node and express practice</h1>
    <form action="/final" method="POST">
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname"> last name:</label>
        <input type="text" id="lname" name="lname"><br>
        <label for="rno">roll number</label>
        <input type="text" id="rno" name="rno"><br>
        <label for="language1">first language</label>
        <input type="text" id="language1" name="language1"><br>
        <label for="language2">second language</label>
        <input type="text" id="language2" name="language2"><br>
        <label for="language3">third language</label>
        <input type="text" id="language3" name="language3"><br>
        <input class="buttton" type="submit" value="Submit">


    </form>

</body>

</html>